#reg-card {
  margin-top: 3%;
  margin-left: 25%;
  width: 50%;
  box-shadow: 0 0 5px 2px rgba(125, 123, 123, 0.1);
}

#reg-card-body {
  width: 100%;
  margin-top: 2%;
}

.form-control {
  width: 100%; /* Adjust as needed */
  height: 40px;
  border-radius: 15px;
  border-color: grey;
  font-size: 15px;
  margin-left: 0%;
}

.form-select {
  width: 100%; /* Adjust as needed */
  height: 40px;
  border-radius: 15px;
  border-color: grey;
  font-size: 15px;
}

#signup {
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-top: 3%;
  width: 30%;
  background-color: #793a00;
  color: aliceblue;
}

#signup:hover {
  background-color: aliceblue;
  color: #793a00;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-top: 4%;
}

#header {
  height: 10%;
}

#reg-cont {
  width: 100%;
}

#reg-uname,
#reg-pword,
#reg-cnfpword {
  /* Add styles as needed */
}

@media screen and (max-width: 768px) {
  /* Add responsive styles for smaller screens */
  #reg-card {
    margin-left: 5%;
    width: 90%;
  }

  .form-control,
  .form-select {
    width: 100%;
  }

  #signup {
    margin-left: 20%;
    width: 60%;
  }

  label {
    margin-top: 2%;
  }
}
