/* Feedback.css */
.card {
  margin-top: 3%;
  margin-left: 25%;
  width: 50%;
  box-shadow: 0 0 5px 2px rgba(125, 123, 123, 0.1);
}
.feedback-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

#feedback-div {
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-weight: bold;
}

#feedback {
  width: 200%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: -50%;
}

/* .btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
#feebdack-btn {
  margin-top: 2%;
  margin-left: 10%;
}
#feebdack-btn:hover {
  color: #793a00;
  background-color: aliceblue;
  border-color: #793a00;
}

.btn:hover {
  background-color: #0056b3;
}

#card-body {
  width: 100%;
}
#feedback-card {
  margin-left: 24%;
}
