.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  color: #793a00;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 20rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-top: 1rem;
  margin-left: 4rem;
}
.btn {
  font-size: 1.7rem;
  background-color: #793a00;
  color: aliceblue;
}
.nav__link:link,
.nav__link:visited {
  font-size: 1.9rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
}
#dropdown-btn {
  background-color: rgb(240, 240, 240);
  color: inherit;
  font-size: 180%;
  border: none;
}
#login__btn:hover {
  color: #793a00;
  background-color: aliceblue;
  border-color: #793a00;
}
/* navbar links  */
li:hover {
  color: black;
}

.appointment-link {
  text-decoration: none !important;
  color: rgb(71, 67, 67);
}

