#navbar--id {
  height: 9%;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.recipe_list {
  font-size: 15px;
}

#recipe-container {
  display: flex;
  margin-top: 8%;
}

.left {
  width: 300px;
  position: -ms-sticky;
  position: sticky;
  top: 18%;
  height: 100%;
  /* margin-top: 3%; */
}

.right {
  width: 800px;
  height: 100%;
}

.table {
  cursor: pointer;
}
