#editrecipe-card {
  margin-top: 2%;
  margin-left: 25%;
  width: 50%;
}

#recipeId,
#recipeName,
#instructions,
#cookTime,
#totalCalories,
#recipeType,
#recipeDescription {
  width: 120%;
  margin-left: -20%;
}

#editr-card-body {
  margin-left: 0%;
  width: 120%;
}

#editrheader {
  margin-left: 5%;
}
#editr-btn {
  margin-left: 15%;
}
