body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

#userp-header {
  color: #29293d;
  text-align: center;
  margin-top: 8%;
  font-family: "black";
}

#userp-card {
  max-width: 600px;
  margin: 2% auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#userp-card-body {
  margin-top: 2%;
}

#signUpheader {
  text-align: center;
  font-size: 80%;
}

#user-image {
  width: 50%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid #0000;
  border-radius: 50%;
  margin-left: 25%;
}

#user-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 23%;
  margin-right: -4%;
  width: 50%;
}

.edit-btn,
.delete-btn {
  padding: 10px;
  padding-bottom: 10px;
  background-color: #793a00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 70%;
  width: 100%;
}

.delete-btn {
  background-color: #e74c3c;
}

#user-btn:hover {
  background-color: aliceblue;
  color: #793a00;
  border-color: #793a00;
}

#delete-btn {
  background-color: #793a00;
  color: aliceblue;
  border: 1px;
  border-color: aliceblue;
}

#delete-btn:hover {
  background-color: aliceblue;
  color: #793a00;
  border-color: #793a00;
}

.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  text-align: center;
}

.confirmation-popup button {
  margin: 10px;
  padding: 8px 16px;
  background-color: #29293d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmation-popup button:hover {
  background-color: #1d1d2b;
}

#userrecipies-btn:hover {
  background-color: aliceblue;
  color: #793a00;
  border-color: #793a00;
}

#userrecipies-btn {
  height: 110%;
  width: 40%;
}

#userrecipies-div {
  margin-left: 40%;
}

/* Responsive styles for screens with a maximum width of 768 pixels */
@media screen and (max-width: 768px) {
  #userp-card {
    max-width: 100%;
  }

  #user-actions {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .edit-btn,
  .delete-btn {
    width: 100%;
  }

  #userrecipies-div {
    margin-left: 0;
  }
}
