/* ForgotPassword.css */

.forgot-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: "80%";
}

.form-group {
  margin-bottom: 20px;
}

/* input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
} */

#resetpword-btn {
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-top: 3%;
  width: 100%;
  background-color: #793a00;
  color: aliceblue;
}
#resetpword-btn:hover {
  background-color: aliceblue;
  color: #793a00;
  border-color: #793a00;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}
#fpword-uname,
#fpword-pword,
#fpword-cnfpword {
  width: 125%;
  height: 40px;
  border-radius: 15px;
  border-color: grey;
  font-size: 15px;
  margin-left: -5%;
}

#fpword-card {
  margin-top: 3%;
  margin-bottom: 10%;
}
